<div class="container">
  <div class="header">InvestChecker</div>

  <div class="content">
    <div class="items">
      <app-buffitem
        *ngFor="let item of list"
        [item]="item"
        (onRemove)="removeItemFromList($event)"
        (onSave)="updateItemList()"
      ></app-buffitem>
    </div>

    <app-input label="Item code" [(value)]="newItem" type="number"></app-input>
    <app-button [full]="true" color="dodgerblue" (onClick)="addItemToList()">
      Add to list
    </app-button>

    <div class="totals">
      <table>
        <tr>
          <th>Total after tax:</th>
          <td [ngStyle]="{ color: totalAfterTax > 0 ? 'green' : 'red' }">
            {{ totalAfterTax | number : "1.2-2" }}
          </td>
        </tr>
        <tr>
          <th>Total profit:</th>
          <td [ngStyle]="{ color: totalProfit > 0 ? 'green' : 'red' }">
            {{ totalProfit | number : "1.2-2" }}
          </td>
        </tr>
        <tr>
          <th>Total itemcount:</th>
          <td [ngStyle]="{ color: totalItemCount > 0 ? 'green' : 'red' }">
            {{ totalItemCount }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
